<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
    <p>New line</p>
    <p><a href="/about">Home</a></p>
    <p><a href="/">About</a></p>
    
    <h2>The site is not working we will be back soon!!!</h2>
    
 
    
    {{>footer}}